p, h1, h2{
    color: darkblue;
    font-family: Arial; }

body {   background-color: lightgray; }

table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
      }

table {
    width: 600px;}

a {color: blue}

#ftr {font-size: 9px}